<div class="bimage">
<br>
<br>



<div class="form-group">
              
    <img src="assets\img\LOGOFINAL.png" class=" mx-auto d-block" width="100" height="130" alt="">
    
  </div>


<section class="h-100">
    <header class="container h-100">
      <div class="d-flex align-items-center justify-content-center h-100">
        <div class="d-flex flex-column">
            
          <div class="form-group">
              
                <label for="exampleHospitalId">Hospital ID</label>
                <input type="text" class="form-control" id="exampleHospitalId" aria-describedby="Hospitalid" placeholder="Enter Hospital Id"[(ngModel)]="this.login1.userName">
                  
              
                
              </div>
          <div class="form-group">
                <label for="exampleUserName1">Username</label>
                <input type="text" class="form-control" id="exampleInputUsername1" aria-describedby="username" placeholder="Enter Username"[(ngModel)]="this.login1.userName">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your Username with anyone else.</small>
              
                
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"[(ngModel)]="this.login1.passWord">
              </div>
              
              <button type="submit" (click)="submit()" class="btn btn-primary">submit</button>
        </div>
      </div>
    </header>
  </section>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
