

        <div class="row"style="padding:30px;">
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-fluid" style="height:275px;width:413px;"src="{{this.data.image}}" /></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-fluid" style="height:275px;width:413px;"src=".\assets\img\34222478426_2a8b00a874_b.jpg" /></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-fluid" style="height:275px;"src=".\assets\img\rsz_word-save-lives-odw18-twitter-card-1200x675px-kaasni-20180730033131815.jpg" /></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-fluid" style="height:275px;"src=".\assets\img\blood-donation.jpg" /></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-fluid" style="height:275px;"src=".\assets\img\Blood-donation_1440.jpg" /></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-fluid" style="height:275px;width:413px;"src=".\assets\img\img-20181022-wa0002-1540205090.jpg"/></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-fluid" style="height:275px;width:413px;"src=".\assets\img\img-20180924-wa0026-1538039466.jpg" /></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-fluid" style="height:275px;width:413px;"src=".\assets\img\img-20190306-wa0002-(1)-1551931004.jpg" /></div>
        </div>
