<br>
<div class="container" style="border:1px solid black;background-color: papayawhip;">
    <b>CONTACT US</b><br><br>
    <div class="row">
        <div class="col">Number 1 :</div>
        
    
    <div class="col">
        <input type="text" class="form-control mr-sm-2"cols="65"rows="15"[(ngModel)]="this.contactus.number1">
    </div></div><br>
    <div class="row"><div class="col">Number 2 :</div>
    <div class="col">
        <input type="text" class="form-control mr-sm-2"cols="65"rows="15"[(ngModel)]="this.contactus.number2">
    </div></div><br>
    <div class="row"><div class="col">Email :</div>
    <div class="col">
        <input type="text" class="form-control mr-sm-2"cols="65"rows="15"[(ngModel)]="this.contactus.email">
    </div></div><br>
</div>    

<br>
<div class="text-center">
    <button type="submit" (click)="Submit()" class="btn btn-primary btn-lg">Submit</button>
  </div>
<br>
<br>