<div class="row">
    <div class="col-1">
        </div>
        
    <div class="col-8">

<br>
<div class="round1" style="height:200px;">
    <div>
            <div class="row">
            <div class="col-2">
                <div class="px-md-5">
                    <img src=".\assets\img\iStock-471629610-Converted.png"  width="150" height="170" alt="..."  style="margin-top:13px ; border:1px solid black">
                </div></div>
                <div class="col-9 text-center" >
                    <h5 style="letter-spacing:4px;font-size:34px;">VIDYA HOSPITAL AND RESEARCH INSTITUTE</h5>
                    <p style="letter-spacing:2px;font-size:20px">HEAD:Dr.Vidya Viswanadh MBBS,MD</p>
                    <p style="letter-spacing:2px;font-size:20px">Address:No.20,Madras Mail</p>
                
            
                </div>
    </div>
  </div>


</div>
<div class="round1"style="height:400px" >
    <div >
            <div class="row  px-md-5" style="margin-top:20px;line-height:180%;">
        
                    Vidya Hospitals was established in 1983 by Dr. Prathap C Reddy, renowned as the architect of modern healthcare in India. As the nation's first corporate hospital, Apollo Hospitals is acclaimed for pioneering the private healthcare revolution in the country.

                    Vidya Hospitals has emerged as Asia's foremost integrated healthcare services provider and has a robust presence across the healthcare ecosystem, including Hospitals, Pharmacies, Primary Care & Diagnostic Clinics and several retail health models. The Group also has Telemedicine facilities across several countries, Health Insurance Services, Global Projects Consultancy, Medical Colleges, Medvarsity for E-Learning, Colleges of Nursing and Hospital Management and a Research Foundation. In addition, 'ASK Apollo' - an online consultation portal and Apollo Home Health provide the care continuum.
                    
                    The cornerstones of Vidya's legacy are its unstinting focus on clinical excellence, affordable costs, modern technology and forward-looking research & academics. Apollo Hospitals was among the earliest hospitals in the world to leverage technology to facilitate seamless healthcare delivery. The organization embraced the rapid advancement in medical equipments across the world, and pioneered the introduction of several cutting edge innovations in India. One of the most significant technological advancements introduced by Apollo Hospitals is the Proton Therapy Centre in Chennai – the first such centre in entire South East Asia, serving over 3.5 Billion people across the region.
                    
                    Vidya Hospitals was the first in India to launch the concept of Preventive Health Checks. From the date of inception in 1987 till date, over 20 Million health checks have been completed.
    </div>
    
  </div>


</div>
</div>
<div class="col-2" style="margin-left: 2%;">
    <div class="row">
    <br>    
            <!-- <div class="round1 px-md-2" style="height:300px;width:350px;background-color: #F7F7F7;">
<div style="text-align:center;">
<h3><u>ALERT</u></h3>
<div >

  <div style="padding:20px">
      <select class="form-control">
        <option selected>Choose...</option>
        <option value="Apve">A Positive</option>
                    <option value="Anve">A Negative</option>
                     <option value="Aunk">A Unknown</option>
                     <option value="Bpve">B Positive</option>
                    <option value="Bnve">B Negative</option>
                    <option value="Bunk">B Unknown</option>
                     <option value="ABpve">AB Positive</option>
                    <option value="ABnve">AB Negative</option>
                    <option value="ABunk">AB Unknown</option>
                     <option value="Opve">O Positive</option>
                    <option value="Onve">O Negative</option>
                     <option value="Ounk">O Unknown</option>
                      <option value="Unk">Unknown</option>
      </select>
    </div>
</div>
</div>
</div> -->
                    

</div>
<br>
<div class="row">
    <div class="round1 px-md-2" style="height:300px;width:350px;background-color: #F7F7F7; overflow: scroll;">
            <div style="text-align:center;">
              <h3><u>NOTIFICATION</u></h3>
              <div style="float:left">
                <div style="border:1px;border-color: black;">
              <span *ngFor="let item of this.data">&#8226;Date:
                
                <p>{{item.date}}</p>
                 Hospital:<p>{{item.HospName}}</p>
                  Hospital Head:<p>{{item.HospHead}}</p>
                  NOTIFICATION:<p>{{item.notification}}</p>
                  
          </span>
        </div></div>
            </div>
          </div>  
</div>
</div>

</div>


<br><br>