<br>
<div class="container">
	<div class="row">
		<!-- <div class="col-md-3 card">
            
           <div class="text-center" style="margin-top: 10px;">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload"(change)="handleFileSelect($event)">
      </div>
             
             
           </div>  -->
		
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Employee Profile</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
		                    <form>
                              <div class="form-group row">
                                <label for="Hospital Name" class="col-4 col-form-label">Employee Name</label> 
                                <div class="col-8">
                                  <input name="Hospital Name" placeholder="Employee Name" class="form-control here" [(ngModel)]="this.profile.FName"required="required" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="Hospital Head" class="col-4 col-form-label">Designation</label> 
                                <div class="col-8">
                                  <input  name="Hospital Head" placeholder="Designation" class="form-control here" type="text"[(ngModel)]="this.profile.Designtn">
                                </div>
                              </div>
                              <!-- <div class="form-group row">
                                <label for="Address" class="col-4 col-form-label">Address</label> 
                                <div class="col-8">
                                  <input  name="Address" placeholder="Address" class="form-control here" type="text"[(ngModel)]="this.profile.HospAddrs">
                                </div>
                              </div> -->
                              <div class="form-group row">
                                <label for="E-Mail" class="col-4 col-form-label">E-Mail</label> 
                                <div class="col-8">
                                  <input  name="E-Mail" placeholder="E-Mail" class="form-control here" required="required" type="text"[(ngModel)]="this.profile.Emailid">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="Phone Number 1" class="col-4 col-form-label">Employee ID</label> 
                                <div class="col-8">
                                  <input  name="Phone Number 1" placeholder="Employee ID" class="form-control here" required="required" type="text"[(ngModel)]="this.profile.Empid">
                                </div>
                              </div>
                              
                              <div class="form-group row">
                                <label for="Phone Number 2" class="col-4 col-form-label">Phone Number </label> 
                                <div class="col-8">
                                  <input  name="Phone Number 2" placeholder="Phone Number" class="form-control here" required="required" type="text"[(ngModel)]="this.profile.EmpPhnum">
                                </div>
                              </div>
                              <!-- <div class="form-group row">
                                <label for="Description" class="col-4 col-form-label">Description</label> 
                                <div class="col-8">
                                  <textarea  name="Description" cols="40" rows="4" class="form-control"[(ngModel)]="this.profile.About"></textarea>
                                </div>
                              </div> -->
                               
                              <div class="form-group row">
                                <div class="offset-4 col-8">
                                  <button name="submit" type="submit" class="btn btn-primary"(click)="submit()">Update My Profile</button>
                                </div>
                              </div>
                            </form>
		                </div>
		            </div>
		            
		        </div>
		    </div>
		</div>
	</div>
</div>
<br>